<!DOCTYPE html>
<html>
  <head>
    <title>게시글 생성</title>
  </head>


  <body>
    <h1>게시글 생성</h1>
    <form action="/article/create" method="post"><br/>
      제목 : <input type="text" name="artTitle"><br/>
      내용 : <input type="password" name="artContent"><br/>
      <input type="submit" value="생성">
    </form>
  </body>
</html>