<!DOCTYPE html>
<html>
  <head>
    <title>채팅 메시지 생성</title>
  </head>


  <body>
    <h1>채팅 메시지 생성</h1>
    <form action="/message/create" method="post"><br/>
      입력 유저 : <input type="text" name="msgUser"><br/>
      메시지 내용 : <textarea name="msgContents" rows="20" cols="10"></textarea><br/>
      <input type="submit" value="생성">
    </form>
  </body>
</html>