<!DOCTYPE html>
<html>
  <head>
    <title>user 계정 수정</title>
  </head>


  <body>
    <h1>user 계정 수정</h1>
    <form action="/member/modify/<%=userMembers.adminName%>" method="post"><br/>
      ID : <input type="text" name="uid" value="<%=userMembers.id%>"><br/>
      PW : <input type="password" name="upassword" value="<%=userMembers.password%>"><br/>
      name : <input type="text" name="uname" value="<%=userMembers.userName%>"><br/>
      <input type="submit" value="수정">
      <a href="/member/delete">삭제</a>
    </form>
  </body>
</html>