<!DOCTYPE html>
<html>
  <head>
    <title>관리자 계정 생성</title>
  </head>


  <body>
    <h1>관리자 계정 생성</h1>
    <form action="/channel/create" method="post"><br/>
      제목 : <input type="text" name="chTitle"><br/>
      인원 : <input type="text" name="chMembers"><br/>  
      <input type="submit" value="생성">
    </form>
  </body>
</html>